<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>

    <Console name="CONSOLE" target="SYSTEM_OUT">
      <!--<PatternLayout pattern="%d [%20.20t] [%10.10X{pegathread}] [%20.20X{tenantid}] [%20.20X{app}] (%30.30c{3}) %-5p %X{stack} %X{userid} - %m%n"/>-->
    </Console>
  </Appenders>

  <Loggers>

    <Root level="info">
      <AppenderRef ref="CONSOLE"/>
    </Root>

  </Loggers>
</Configuration>